{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">DSTM</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active" aria-current="page">All</a></li>
        <li class="nav-item"><a href="{% url 'Python' %}" class="nav-link">Python</a></li>
        <li class="nav-item"><a href="{% url 'Kotlin' %}" class="nav-link">Kotlin</a></li>

      </ul>
    </header>
  </div>
    <div class="container">
        <h1> Look at my {{ title }}</h1>

    {% if projects %}
        <div class="container">
            <table >
                {% for proj in projects %}
                {% cycle '<tr>' '' %}
                <td>
                        <div class="col-md-10">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success ">{{ proj.category }}</strong>
          <h2 class="mb-0">{{ proj.name }}</h2>
          <div class="mb-1 text-muted">{{ proj.create_date }}</div>
          <h5 class="mb-auto">{{ proj.title }}</h5>
            {% if proj.path %}
          <a href='{{ proj.path }}' class="link-success" >Look at code </a>
            {% endif %}
            <p class="mb-auto">{{ proj.text }}</p>
        </div>
      </div>
    </div>
                </td>
                {% cycle '' '</tr>' %}
                {% endfor %}
            </table>
        </div>
    {% else %}
    <h2> Nothing </h2>
    {% endif %}
        </div>
{% endblock %}